@import "../../styles/variables";

.sb-login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 737px;
}

.sb-register-form {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb-login-inputs {
  margin: 1em;
  width: 100%;
}

.sb-register-option {
  margin-bottom: 1em;
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: underline;
}

.sb-login-btn {
  box-shadow: 1px 2px 5px rgb(189, 188, 188);
  margin-bottom: 15px;
}

.sb-login-error-message{
  padding-top: 20px;
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

.ms-TextField-fieldGroup{
  .ms-Button {
      margin-top:0;
  }
}

body {
  &.light {
    .sb-login-container {
      color: $primary-background-dark;
    }
    .ms-TextField-errorMessage {
      span{
        color: red;
      }
    }
  }
  &.dark {
    .sb-login-container {
      color: $primary-background-light;
    }
    .ms-TextField-errorMessage {
      span{
        color: orange;
      }
    }
  }
}